{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<div class="shutters d-flex">
    <div class="shutter-left slide-in-left">
        <p>LAURIE</p>
        <p>PERET</p>
    </div>
    <div class="shutter-right slide-in-right">
        <img src="{{ asset('build/images/laurie_droite.png') }}" alt="Laurie Peret" class="laurie-droite">
    </div>
</div>
<div class="container-fluid container-cards">
    <div class="row menu-cards">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center no-padding">
            <div class="card card-bio" style="cursor: pointer;" onclick="window.location='{{ path('bio') }}';">
                <h2>BIOGRAPHIE</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center no-padding" style="cursor: pointer;">
            <div class="card card-show" style="cursor: pointer;" onclick="window.location='https://www.billetreduc.com/spectacle-laurie-peret.htm';">
                <h2>SPECTACLES</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center no-padding">
            <div class="card card-media" style="cursor: pointer;" onclick="window.location='{{ path('gallery') }}';">
                <h2>PHOTOS</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="actu">
        <div class="col-12">
            <h2 class="text-center text-secondary d-flex justify-content-center align-items-center subtitle">
                <i class="far fa-newspaper"></i><span class="subtitle-text ms-3 me-3">ACTUS</span><i class="far fa-newspaper"></i>
            </h2>
            {% include "components/_carousel.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-secondary d-flex justify-content-center align-items-center subtitle">
                <i class="fas fa-fire"></i><span class="subtitle-text ms-3 me-3">SPECTACLES</span><i class="fas fa-fire"></i>
            </h2>
            <div class="map-responsive">
                {% include 'components/_map.html.twig' %}
            </div>
        </div>
    </div>
    <div class="row" id="boutique">
        <div class="col-12">
            <h2 class="text-center text-secondary d-flex justify-content-center align-items-center subtitle">
                <i class="fas fa-shopping-bag"></i><span class="subtitle-text ms-3 me-3">BOUTIQUE</span><i class="fas fa-shopping-bag"></i>
            </h2>
            <div class="articles d-flex justify-content-center">
                <div class="article" style="cursor: pointer;" onclick="window.location='{{ path('stripe-book') }}';">
                    <span class="article-overlay"><i class="fas fa-4x fa-info-circle"></i></span>
                    <img src="{{ asset('build/images/livre_laurie.jpg') }}" alt="Les petits conseils de Laurie" class="book-img">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
