<div class="modal fade" id="modalInfo-{{ loop.index }}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ representation.city }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('map') }}" method="post">
                <div class="modal-body">
                    {{ representation.city }}
                    <br>
                    {{ representation.date }}
                    <br>
                    <a href="{{ representation.url }}" class="btn btn-secondary" target="_blank">
                        Tarifs & réservations
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </form>
            {% if is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{ path('delete_representation', {'id': representation.id}) }}" onsubmit="return confirm('Attention : veux tu vraiment supprimer ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ representation.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>