<footer class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>CONTACT</h3>
                {% for contact in footer_builder.getcontacts %}
                    {% if contact.icon %}
                        <i class="fas {{ contact.icon }}"></i>
                    {% endif %}
                        {{ contact.title}} : {{ contact.name}} {{ contact.complement }}<br>
                {% endfor %}
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>PLAN DU SITE</h3>
                <ul>
                    <li><a class="text-white" href="{{ path('home') }}">Home</a></li>
                    <li><a class="text-white" href="{{ path('gallery') }}">Médias</a></li>
                    <li><a class="text-white" href="{{ path('bio') }}">Biographie</a></li>
                    <li>
                        <a class="text-white" href="https://laurieperet.shop">Les Petits conseils de Laurie Peret</a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('app_login') }}">Login</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>JE SUIS AUSSI ICI</h3>
                {% for social in footer_builder.getSocials %}
                    <a href="{{ social.url }}">
                    <i class="fab {{ social.icon}} fa-5x"></i>
                    </a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    Développé artisanalement par <a href="https://www.linkedin.com/in/guillaumeharari" target="_blank">Guillaume HARARI</a>
                </div>
            </div>
        </div>
    </div>
</footer>